[Unit]
Description=Rusty-Key Secret Decryption
Before=multi-user.target containerd.service docker.service podman.service containers.target
After=network-online.target

[Service]
Type=oneshot
User=root
Group=secrets
RemainAfterExit=true

# Create target directory with proper ownership & permissions before decrypting
ExecStartPre=/bin/mkdir -p /run/rk-cache
ExecStartPre=/bin/chown root:secrets /run/rk-cache
ExecStartPre=/bin/chmod 710 /run/rk-cache

# Decrypt secrets into memory-backed runtime dir
ExecStart=/usr/local/bin/rusty-key decrypt-all \
    --key /var/rusty-key/keys/master.key \
    --source /var/rusty-key/secrets \
    --target /run/rk-cache

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.targett
